<form #f="ngForm" (ngSubmit)="updateSettings(f)">
  <label id="labelTitle" for="title">Title</label>
  <input name="title" id="title" required ngModel="Dutch auction" />
  <label id="labelStart" for="start">Start</label>
  <input
    type="number"
    id="start"
    name="start"
    step="1"
    required
    [ngModel]="0"
  />
  <label id="labelEnd" for="end">End</label>
  <input
    type="number"
    id="end"
    name="end"
    step="1"
    required
    [ngModel]="20"
  />
  <label id="labelTime" for="time">Time</label>
  <input
    type="number"
    name="time"
    id="time"
    min="5"
    step="1"
    required
    [ngModel]="10"
  />
  <label id="labelFormat" for="title">Format</label>
  <input name="format" id="format" required ngModel="3.0-0" />
  <button>Apply</button>
</form>
<div>
  <button id="startStop" (click)="controlAction('startStop')">
    Start/Stop
  </button>
  <button id="reset" (click)="controlAction('reset')">Reset</button>
</div>
<a class="nav-top-right" href="/" target="_blank">🔨</a>
<!-- View side subscription only -->
<ng-container *nfIf="keys$ | async"></ng-container>
