:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5vmin;

  form {
    width: 100vmin;
    display: grid;
    align-items: center;
    grid-template:
      "labelTitle inputTitle" 8vmin
      "labelStart inputStart" 8vmin
      "labelEnd inputEnd" 8vmin
      "labelTime inputTime" 8vmin
      "button button" 8vmin;

    > * {
      height: 6vmin;
      font-size: 3vmin;
    }

    input {
      padding-left: 1vmin;
    }

    #labelTitle {
      grid-area: labelTitle;
    }

    #title {
      grid-area: inputTitle;
    }

    #labelStart {
      grid-area: labelStart;
    }
    #start {
      grid-area: inputStart;
    }

    #labelTitle {
      grid-area: labelTitle;
    }

    #title {
      grid-area: inputTitle;
    }

    #labelTime {
      grid-area: labelTime;
    }

    #time {
      grid-area: inputTime;
    }

    button {
      grid-area: button;
    }
  }

  div {
    margin-top: 2vmin;
    width: 100vmin;
    display: flex;
    gap: 5vmin;
    button {
      font-size: 3vmin;
      height: 10vmin;
      flex: 1 1 auto;
    }
  }
}
