<ng-container *ngIf="model$ | async as model">
  <h1>
    {{ model.title }}
  </h1>
  <h2>
    {{ model.start | currency: "EUR":"symbol":"0.0-0" }} –
    {{ model.end | currency: "EUR":"symbol":"0.0-0" }}
  </h2>
  <svg viewBox="0 0 100 100">
    <circle
      r="45"
      cx="50"
      cy="50"
      stroke="lightgrey"
      stroke-width="10"
      fill="none"
      transform="rotate(-90, 50, 50)"
      stroke-dasharray="1 1.3"
    />
    <circle
      r="45"
      cx="50"
      cy="50"
      stroke="red"
      stroke-width="10"
      fill="none"
      transform-origin="center"
      transform="rotate(-90)"
      attr.stroke-dasharray="{{ 283 * model.factor }}, 283"
    />
    <text x="50% " y="50%" dominant-baseline="middle" text-anchor="middle">
      {{ model.factor === 1.0 ? ' ' : model.value | currency: "EUR":"symbol":"3.0-0" }}
    </text>
  </svg>
  <a class="nav-top-right" href="/control" target="_blank">🔧</a>
</ng-container>
