:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 10vmin;
  }

  h2 {
    font-size: 6vmin;
  }

  svg {
    max-width: 100%;
    flex: 1 1 0;
    margin: 0 auto 2vmin auto;
  }
}
